<div ng-controller="createDocController">
    <div class="table-responsive" style="background-color:#fff; padding:10px">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="6">Basic Information</th>
                </tr>
            </thead>
            <tr><td>File Name:</td><td colspan="5"><input type="text" class="form-control" ng-model="file_name"/></td></tr>
            <tr>
                <td>Date Opened</td><td><input type="text"  class="form-control datepicker" ng-model="date_opened"/></td> 
                <td>Last Updated</td><td><input type="text"  class="form-control datepicker" ng-model="last_updated"/></td> 
                <td>Author</td><td><input type="text" class="form-control" ng-model="author"/></td> 
            </tr>
            <tr>
                <td>Jurisdiction</td><td><input type="text" class="form-control" ng-model="jurisdiction"/></td> 
                <td>Region</td><td><input type="text" class="form-control" ng-model="region"/></td> 
                <td>Website</td><td><input type="text" class="form-control" ng-model="website"/></td> 
            </tr>
            <tr>
                <td>Industry</td><td><input type="text" class="form-control" ng_model="industry"/></td> 
                <td>Model</td><td><input type="text" class="form-control" ng_model="model"/></td> 
                <td>Product</td><td><input type="text" class="form-control" ng-model="product"/></td> 
            </tr>
            <tr>
                <td>Stage</td><td><input type="text" class="form-control" ng-model="stage"/></td> 
                <td>Pre-money</td><td><input type="text" class="form-control" ng-model="pre_money"/></td> 
                <td>Raising Target</td><td><input type="text" class="form-control" ng-model="raising_target"/></td> 
            </tr>
            <tr>
                <td>Zebra's Stake</td><td><input type="text" class="form-control" ng-model="zebra_stake"/></td> 
                <td></td><td></td> 
                <td></td><td></td> 
            </tr>
            <tr><td>Current Status:</td><td colspan="5"><input type="text" class="form-control" ng-model="current_status"/></td></tr>
            <tr><td>Next Move:</td><td colspan="5"><input type="text" class="form-control" ng-model="next_move"/></td></tr>
            <tr><td>Note:</td><td colspan="5"><textarea class="form-control" ng-model="note"></textarea></td></tr>
        </table>
    </div>


    <div class="table-responsive" style="background-color:#fff; padding:10px">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="5">Contact Information</th>
                </tr>
            </thead>
            <tr><td colspan="5">Company Contact</td></tr>
            <tr>
                <td></td>
                <td>Name</td><td>Title</td><td>Phone</td><td>Email</td> 
            </tr>
            <tr ng-repeat="contact in contacts">
                <td>
                    <a href="#" class="fa fa-plus" ng-click="add_contact_row()"></a>
                    <a href="#" class="fa fa-minus" ng-click="del_contact_row($index)"></a>
                </td>
                <td>
                    <input type="text" class="form-control" value="{{contact.name}}" ng-model="contact.name"/>
                    <input type="hidden" class="form-control" value="{{contact.id}}" ng-model="contact.id"/>
                </td>
                <td><input type="text" class="form-control" value="{{contact.title}}" ng-model="contact.title"/></td>
                <td><input type="text" class="form-control" value="{{contact.phone}}" ng-model="contact.phone"/></td>
                <td><input type="text" class="form-control" value="{{contact.email}}" ng-model="contact.email"/></td> 
            </tr>
            <tr><td colspan="2">Zebra Team:</td><td colspan="3"><input type="text" class="form-control" ng-model="zebra_team"/></td></tr>
            <tr><td colspan="2">Source:</td><td colspan="3"><input type="text" class="form-control" ng-model="source"/></td></tr>
            <tr><td colspan="2">Note:</td><td colspan="3"><textarea class="form-control" ng-model="contact_note"></textarea></td></tr>
        </table>
    </div>

    <div class="table-responsive" style="background-color:#fff; padding:10px">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="5">Activity Log/ Document Index</th>
                </tr>
            </thead>
            <tr>
                <td></td><td>Date</td><td>Activity</td><td>Document</td><td>Note</td> 
            </tr>
            <tr ng-repeat="log in logs">
                <td>
                    <a href="#" class="fa fa-plus" ng-click="add_log_row()"></a>
                    <a href="#" class="fa fa-minus" ng-click="del_log_row($index)"></a>
                </td>
                <td>
                    <input type="text" class="form-control datepicker" value={{log.adate}} ng-model="log.adate"/>
                </td>
                <td><input type="text" class="form-control" value="{{log.activity}}" ng-model="log.activity"/></td>
                <td>
                    <div ng-repeat="file in log.files">
                        <input type="text" class="form-control" value="{{file.file_name}}" ng-model="file.file_name"/>
                        <input type="hidden" class="form-control" value="{{file.file_path}}" ng-model="file.file_path"/>
                        <a href="#" data-target="#modal-dialog" ng-click="set_choice_log($parent.$index, $index)" class="btn btn-sm btn-success" data-toggle="modal">上传文件</a>
                        <a target="_blank" href="{{file.document_file}}" ng-hide="!file.file_path" class="btn btn-sm btn-success">下载文件</a>
                    <a href="#" class="fa fa-plus" ng-click="add_log_file($parent.$index)"></a>
                    <a href="#" class="fa fa-minus" ng-click="del_log_file($parent.$index, $index)"></a>
                    </div>
                </td>
                <td><input type="text" class="form-control" value="{{log.note}}" ng-model="log.note"/></td> 
            </tr>
        </table>
    <button type="submit" class="btn btn-sm btn-success" ng-click="submit()">Submit</button>
    <input type="hidden" id="upload_file_path" value=""/>
    </div>
    <!-- #modal-dialog -->
    <div class="modal fade" id="modal-dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">上传文件</h4>
                </div>
                <div class="modal-body">
                    <iframe id="upload_frame" scrolling=false style="border:0; width:100%" src="upload.php"></iframe>
                </div>
                <div class="modal-footer">
                    <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal" ng-click="upload_file_change()">Save & Close</a>
                    <a href="javascript:;" class="btn btn-sm btn-success" ng-click="upload_file()">Upload</a>
                </div>
            </div>
        </div>
    </div>
</div>
