<div ng-controller="createDocController" class="m-createdoc">
    <div class="table-responsive" style="background-color:#fff; padding:10px">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="6">项目详情</th>
                </tr>
            </thead>
            <tr>
                <td colspan="6"><h6>基本信息</h6></td>
            </tr>
            <tr><td>项目名称</td><td><input type="text" class="form-control" ng-model="file_name"/></td>
                <td>立项时间</td><td><input type="text"  class="form-control datepicker" ng-model="date_opened"/></td>
                <td>更新时间</td><td><input type="text"  class="form-control datepicker" ng-model="last_updated"/></td>

            </tr>
            <tr>
                <td>行业</td><td><input type="text" class="form-control" ng-model="industry"/></td>
                <td>地域</td><td><input type="text" class="form-control" ng-model="region"/></td>
                <td>发展阶段</td><td>
                    <select class="form-control" ng-model="stage" ng-options="item.id as item.label for item in stage_options">
                    </select>
                    <input type="text" class="form-control" ng-model="stage_free" ng-hide="stage != 999"/>
            </td>
            </tr>
            <tr>
                <td>公司概况</td>
                <td colspan="5"><input type="text" class="form-control" ng-model="company_info"/></td>
            </tr>
            <tr>
                 <td>融资规模</td><td><select class="form-control" ng-model="money_type_1" ng-options="item.id as item.label for item in money_type_options"></select>
                 <input type="text" class="form-control" ng-model="money_type_1_free" ng-hide="money_type_1 != 999"/>
                 <input type="text" class="form-control" ng-model="raising_target"/>M</td>
                 <td>投前估值</td><td><select class="form-control" ng-model="money_type_2" ng-options="item.id as item.label for item in money_type_options"></select>
                 <input type="text" class="form-control" ng-model="money_type_2_free" ng-hide="money_type_2 != 999"/>
                 <input type="text" class="form-control" ng-model="pre_money"/>M</td>
                 <td>投资类型</td><td><select class="form-control" ng-model="investment_type" ng-options="item.id as item.label for item in investment_type_options"/>
                    <input type="text" class="form-control" ng-model="investment_type_free" ng-hide="investment_type != 999"/>
                </td>
            </tr>
            <tr>
                <td>投资结构</td>
                <td colspan="3"><select class="form-control" ng-model="investment_structure" ng-options="item.id as item.label for item in investment_structure_options"/>
                    <input type="text" class="form-control" ng-model="investment_structure_free" ng-hide="investment_structure != 999"/>
                </td>
                <td>来源</td>
                <td><select class="form-control" ng-model="source" ng-options="item.id as item.label for item in source_options"/>
<input type="text" class="form-control" ng-model="source_free" ng-hide="source != 999"/>
                </td>
            </tr>
            <tr>
                 <td>决策阶段</td><td><select class="form-control" ng-model="decision_stage" ng-options="item.id as item.label for item in decision_stage_options"/>
                 <input type="text" class="form-control" ng-model="decision_stage_free" ng-hide="decision_stage != 999"/>
             </td>
                 <td>兴趣程度</td><td><select class="form-control" ng-model="interest_level" ng-options="item.id as item.label for item in interest_level_options"/>
                 <input type="text" class="form-control" ng-model="interest_level_free" ng-hide="interest_level != 999"/>
             </td>
                 <td>下步计划</td><td><input type="text" class="form-control" ng-model="next_move"/></td>
            </tr>
            <tr><td>备注</td><td colspan="5"><textarea class="form-control" ng-model="note"></textarea></td></tr>
        </table>
    </div>
    <div class="table-responsive" style="background-color:#fff; padding:10px">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="5">项目团队</th>
                </tr>
            </thead>
            <tr><td colspan="2">项目团队</td><td colspan="3">
                <label class="checkbox-inline" ng-repeat="item in team_options">
                        <input type="checkbox" ng-click="set_team(item.id )" ng-checked="zebra_team.indexOf(item.id.toString()) > -1">{{item.label}}
                </label>
            </td></tr>
        </table>
    </div>


    <div class="table-responsive" style="background-color:#fff; padding:10px">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="5">项目文档</th>
                </tr>
            </thead>
            <tr>
                <td></td><td>时间</td><td>类型</td><td>文件</td><td>备注</td>
            </tr>
            <tr ng-repeat="file in files">
                <td class="c1">
                    <a href="#" class="fa fa-plus" ng-click="add_file_row()"></a>
                    <a href="#" class="fa fa-minus" ng-click="del_file_row($index)"></a>
                </td>
                <td>
                    <input type="text" class="form-control datepicker" ng-model="file.adate"/>
                </td>
                <td><select class="form-control" ng-model="file.ftype" ng-options="item.id as item.label for item in ftype_options"></select>
                    <input type="text" class="form-control" ng-model="file.ftype_free" ng-hide="file.ftype != 999"/>
                </td>
                <td>
                    <div ng-repeat="f in file.files">
                    <input type="text" class="input-upload form-control"  ng-model="f.file_name"/>
                    <input type="hidden" class="form-control"  ng-model="f.file_path"/>
                    <a href="#" data-target="#modal-dialog" ng-click="set_choice_log(2, $parent.$index, $index)" class="btn btn-sm btn-success" data-toggle="modal">上传文件</a>
                    <a target="_blank" href="{{f.file_path}}" ng-hide="!f.file_path" class="btn btn-sm btn-success">下载文件</a>
                    <a href="#" class="fa fa-plus" ng-click="add_file_file($parent.$index)"></a>
                    <a href="#" class="fa fa-minus" ng-click="del_file_file($parent.$index, $index)"></a>
                </div>
                </td>
                <td><input type="text" class="form-control" ng-model="file.note"/></td>
            </tr>
        </table>

    </div>
    <div class="table-responsive" style="background-color:#fff; padding:10px">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="5">事件记录</th>
                </tr>
            </thead>
            <tr>
                <td></td><td>时间</td><td>事件</td><td>文件</td><td>备注</td>
            </tr>
            <tr ng-repeat="log in logs">
                <td class="c1">
                    <a href="#" class="fa fa-plus" ng-click="add_log_row()"></a>
                    <a href="#" class="fa fa-minus" ng-click="del_log_row($index)"></a>
                </td>
                <td>
                    <input type="text" class="form-control datepicker" value={{log.adate}} ng-model="log.adate"/>
                </td>
                <td><input type="text" class="form-control" value="{{log.activity}}" ng-model="log.activity"/></td>
                <td>
                    <div ng-repeat="file in log.files">

                        <input type="text" class="input-upload form-control" value="{{file.file_name}}" ng-model="file.file_name"/>
                        <input type="hidden" class="form-control" value="{{file.file_path}}" ng-model="file.file_path"/>
                        <a href="#" data-target="#modal-dialog" ng-click="set_choice_log(1, $parent.$index, $index)" class="btn btn-sm btn-success" data-toggle="modal">上传文件</a>
                        <a target="_blank" href="{{file.file_path}}" ng-hide="!file.file_path" class="btn btn-sm btn-success">下载文件</a>
                    <a href="#" class="fa fa-plus" ng-click="add_log_file($parent.$index)"></a>
                    <a href="#" class="fa fa-minus" ng-click="del_log_file($parent.$index, $index)"></a>
                    </div>
                </td>
                <td><input type="text" class="form-control" ng-model="log.note"/></td>
            </tr>
        </table>

    <div class="table-responsive" style="background-color:#fff; padding:10px">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th colspan="9">公司信息</th>
                </tr>
            </thead>
            <tr>
                <td colspan="2">公司全称</td><td colspan="7">
                <input type="text" class="form-control" ng-model="company_name"/>
            </td>
            </tr>
            <tr>
                <td colspan="2">公司地址</td><td colspan="7"><input type="text" class="form-control" ng-model="company_address"/></td>
            </tr>
            <tr><td colspan="5">联系人</td></tr>
            <tr>
                <td></td>
                <td>相关方</td><td>关系</td>
                <td>姓名</td><td>公司</td><td>职位</td><td>电话</td><td>邮箱</td>
                <td>微信号</td>
            </tr>
            <tr ng-repeat="contact in contacts">
                <td>
                    <a href="#" class="fa fa-plus" ng-click="add_contact_row()"></a>
                    <a href="#" class="fa fa-minus" ng-click="del_contact_row($index)"></a>
                </td>
                <td><select class="form-control" ng-model="contact.related" ng-options="item.id as item.label for item in related_options"></select>
                    <input type="text" class="form-control" ng-model="contact.related_free" ng-hide="contact.related != 999"/>
                </td>
                <td><select class="form-control" ng-model="contact.release" ng-options="item.id as item.label for item in release_options"></select>
                    <input type="text" class="form-control" ng-model="contact.release_free" ng-hide="contact.release != 999"/>
                </td>
                <td>
                    <input type="text" class="form-control" ng-model="contact.name"/>
                    <input type="hidden" class="form-control" ng-model="contact.id"/>
                </td>
                <td>
                     <input type="text" class="form-control" ng-model="contact.company_name"/>
                </td>
                <td><input type="text" class="form-control" ng-model="contact.title"/></td>
                <td><input type="text" class="form-control" ng-model="contact.phone"/></td>
                <td><input type="text" class="form-control" ng-model="contact.email"/></td>
                <td><input type="text" class="form-control" ng-model="contact.weixin"/></td>
            </tr>
        </table>
    </div>


    <button type="submit" class="btn btn-sm btn-success" ng-click="submit()">Submit</button>
    <input type="hidden" id="upload_file_path" value=""/>
    </div>
    <!-- #modal-dialog -->
    <div class="modal fade" id="modal-dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">上传文件</h4>
                </div>
                <div class="modal-body">
                    <iframe id="upload_frame" scrolling=false style="border:0; width:100%" src="upload.php"></iframe>
                </div>
                <div class="modal-footer">
                    <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal" ng-click="upload_file_change()">Save & Close</a>
                    <a href="javascript:;" class="btn btn-sm btn-success" ng-click="upload_file()">Upload</a>
                </div>
            </div>
        </div>
    </div>
</div>
