<div ng-controller="listMemberController">
<div class="panel panel-inverse m-account" data-sortable-id="form-stuff-1">
    <table class="table table-border">
        <thead>
            <tr>
                <th>ID</th>
                <th>用户名</th>
                <th>是否生效</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users">
                <td>{{user.id}}</td>
                <td>{{user.username}}</td>
                <td>{{user.status}}</td>
                <td>
                    <a href="#/app/settings/member/edit/{{user.id}}" class="fa fa-pencil"></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
