<style>
    .td_bg {
        background-color: #AEB7C8;
        font-weight:bold;
        color: #000;
        font-size:14px
    }
</style>
<div ng-controller="showDocController">
    <div class="table-responsive" style="background-color:#fff; padding:10px">
<h4>项目详情</h4>
        <table class="table table-bordered">
            <tr><td class="td_bg">项目名称</td><td>{{file_name}}</td>
                <td class="td_bg">立项时间</td><td>{{date_opened}}</td>
                <td class="td_bg">更新时间</td><td>{{last_updated}}</td>
            </tr>
            <tr>
                <td class="td_bg">行业</a></td><td>{{industry}}</td>
                <td class="td_bg">地域</td><td>{{region}}</td>
                <td class="td_bg">发展阶段</td><td>{{stage | stage}} <label ng-hide="stage!=999">{{stage_free}}</label></td>
            </tr>
            <tr>
                <td class="td_bg">公司概况</td><td colspan="4">{{company_info}}</td>
            </tr>
            <tr>
                <td class="td_bg">融资规模</td><td>{{raising_target}} {{money_type_1 | money_type_1}} <label ng-hide="money_type_1 !=999">{{money_type_1_free}}</label></td>
                <td class="td_bg">投前估值</td><td>{{pre_money}} {{money_type_2 | money_type_2}} <label ng-hide="money_type_2 !=999">{{money_type_2_free}}</label></td>
                <td class="td_bg">投资类型</td><td>{{investment_type|investment_type}} <label ng-hide="investment_type !=999">{{investment_type_free}}</label></td>
            </tr>
            <tr>
                <td class="td_bg">投资结构</td><td>{{investment_structure | investment_structure}} <label ng-hide="investment_structure !=999">{{investment_structure_free}}</label></td>

                <td class="td_bg">来源</td><td>{{source | source}} <label ng-hide="source !=999">{{source_free}}</label></td>
                <td></td><td></td>
            </tr>
            <tr>
                <td class="td_bg">决策阶段</td><td>{{decision_stage | decision_stage}} <label ng-hide="decision_stage !=999">{{decision_stage_free}}</label></td>
                <td class="td_bg">兴趣程度</td><td>{{interest_level | interest_level}} <label ng-hide="interest_level !=999">{{interest_level_free}}</label></td>
                <td class="td_bg">下步计划</td><td>{{next_move}}</td>
            </tr>
            <tr><td class="td_bg">备注</td><td colspan="5">{{note}}</textarea></td></tr>
        </table>
    </div>



    <div class="table-responsive" style="background-color:#fff; padding:10px">
<h4>项目团队</h4>
        <table class="table table-bordered">
            <tr>
                <td class="td_bg" width="400">项目团队</td><td>{{zebra_team|team}}</td>
            </tr>
        </table>
    </div>


    <div class="table-responsive" style="background-color:#fff; padding:10px">
<h4>项目文档</h4>
        <table class="table table-bordered">
            <tr>
                <td class="td_bg">时间</td><td class="td_bg">类型</td><td class="td_bg">文件</td><td class="td_bg">备注</td>
            </tr>
            <tr ng-repeat="f in files">
                <td>
                    {{f.adate}}
                </td>
                <td>{{f.ftype | ftype}} <label ng-hide="f.ftype !=999">{{f.ftype_free}}</label></td>
                <td>
                <div ng-repeat="file in f.files">
                    <a target="_blank" href="{{file.file_path}}" ng-hide="!file.file_path">{{file.file_name}}</a>
                </div>
                </td>
                <td>{{f.note}}</td>
            </tr>
        </table>
    </div>

    <div class="table-responsive" style="background-color:#fff; padding:10px">
<h4>事件记录</h4>
        <table class="table table-bordered">
            <tr>
                <td class="td_bg">时间</td><td class="td_bg">事件</td><td class="td_bg">文件</td><td class="td_bg">备注</td>
            </tr>
            <tr ng-repeat="log in logs">
                <td>
                    {{log.adate}}
                </td>
                <td>{{log.activity}}</td>
                <td>
                <div ng-repeat="file in log.files">
                    <a target="_blank" href="{{file.file_path}}" ng-hide="!file.file_path">{{file.file_name}}</a>
                </div>
                </td>
                <td>{{log.note}}</td>
            </tr>
        </table>
    </div>


        <div class="table-responsive" style="background-color:#fff; padding:10px">
<h4>公司信息</h4>
        <table class="table table-bordered">
            <tr>
                <td class="td_bg">公司全称</td><td colspan=7>{{company_name}}</td>
            </tr>
            <tr>
                <td class="td_bg">公司地址</td><td colspan=7>{{company_address}}</td>
            </tr>
            <tr>
                <td colspan=8>联系人</td>
            </tr>
            <tr>
                <td class="td_bg">相关方</td><td class="td_bg">关系</td><td class="td_bg">姓名</td><td class="td_bg">公司</td>
                <td class="td_bg">职位</td><td class="td_bg">电话</td><td class="td_bg">邮箱</td><td class="td_bg">微信号</td>
            </tr>
            <tr ng-repeat="contact in contacts">
                <td>
                    {{contact.related | related}} <label ng-hide="contact.related !=999">{{contact.related_free}}</label>
                </td>
                <td>{{contact.release | release}} <label ng-hide="contact.release !=999">{{contact.release_free}}</label></td>
                <td>{{contact.name}}
                </td>
                <td>{{contact.company_name}}</td>
                <td>{{contact.title}}</td>
                <td>{{contact.phone}}</td>
                <td>{{contact.email}}</td>
                <td>{{contact.weixin}}</td>
            </tr>
        </table>
    </div>
