<style>
    .td_bg {
        background-color: #AEB7C8;
        font-weight:bold;
        color: #000;
        font-size:14px
    }
</style>
<div ng-controller="showDocController">
    <div class="table-responsive" style="background-color:#fff; padding:10px">
<h4>Basic Information</h4>
        <table class="table table-bordered">
            <tr><td class="td_bg">File Name:</td><td colspan="5">{{file_name}}</td></tr>
            <tr>
                <td class="td_bg">Date Opened</td><td>{{date_opened}}</td>
                <td class="td_bg">Last Updated</td><td>{{last_updated}}</td>
                <td class="td_bg">Author</td><td>{{author}}</td>
            </tr>
            <tr>
                <td class="td_bg">Jurisdiction</a></td><td>{{jurisdiction}}</td>
                <td class="td_bg">Region</td><td>{{region}}</td>
                <td class="td_bg">Website</td><td>{{website}}</td>
            </tr>
            <tr>
                <td class="td_bg">Industry</td><td>{{industry}}</td>
                <td class="td_bg">Model</td><td>{{model}}</td>
                <td class="td_bg">Product</td><td>{{product}}</td>
            </tr>
            <tr>
                <td class="td_bg">Stage</td><td>{{stage}}</td>
                <td class="td_bg">Pre-money</td><td>{{pre_money}}</td>
                <td class="td_bg">Raising Target</td><td>{{raising_target}}</td>
            </tr>
            <tr>
                <td class="td_bg">Zebra's Stake</td><td>{{zebra_stake}}</td>
                <td class="td_bg"></td><td></td>
                <td class="td_bg"></td><td></td>
            </tr>
            <tr><td class="td_bg">Current Status:</td><td colspan="5">{{current_status}}</td></tr>
            <tr><td class="td_bg">Next Move:</td><td colspan="5">{{next_move}}</td></tr>
            <tr><td class="td_bg">Note:</td><td colspan="5">{{note}}</textarea></td></tr>
        </table>
    </div>


    <div class="table-responsive" style="background-color:#fff; padding:10px">
<h4>Contact Information</h4>
        <table class="table table-bordered">
            <tr><td colspan="4"  class="td_bg"><h5>Company Contact</h5></td></tr>
            <tr>
                <td class="td_bg">Name</td><td class="td_bg">Title</td><td class="td_bg">Phone</td><td class="td_bg">Email</td>
            </tr>
            <tr ng-repeat="contact in contacts">
                <td>
                    {{contact.name}}
                </td>
                <td>{{contact.title}}</td>
                <td>{{contact.phone}}</td>
                <td>{{contact.email}}</td>
            </tr>
            <tr><td  class="td_bg">Zebra Team:</td><td colspan="3">{{zebra_team}}</td></tr>
            <tr><td class="td_bg">Source:</td><td colspan="3">{{source}}</td></tr>
            <tr><td class="td_bg">Note:</td><td colspan="3">{{contact_note}}</td></tr>
        </table>
    </div>

    <div class="table-responsive" style="background-color:#fff; padding:10px">
<h4>Activity Log/ Document Index</h4>
        <table class="table table-bordered">
            <tr>
                <td class="td_bg">Date</td><td class="td_bg">Activity</td><td class="td_bg">Document</td><td class="td_bg">Note</td>
            </tr>
            <tr ng-repeat="log in logs">
                <td>
                    {{log.adate}}
                </td>
                <td>{{log.activity}}</td>
                <td>
                <div ng-repeat="file in log.files">
                    <a target="_blank" href="{{file.file_path}}" ng-hide="!file.file_path">{{file.file_name}}</a>
                </div>
                </td>
                <td>{{log.note}}</td>
            </tr>
        </table>
    </div>
